* {
	box-sizing: border-box;
}

body {
	background-color: #d7e7f5;
	height: 100%;
	margin: 0;
	width: 100%;
	font-size: .8125rem;
	line-height: 1.231;
	font-family: "Segoe UI",Arial,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol"!important;
}
